.right-content
  = link_to 'Добавить ещё', new_quote_path, {:id=>"add-quote", :class => "red-dressed"}
.clearfix
.left-content
  -if @tag.present?
    %h3.book-title="##{@tag.keyword}"
.clearfix

.quote-list
  - @quotes.each do |quote|
    .text
      = quote.text
    .clearfix
    - unless params[:tag].present?
      .bottom
        =render "/shared/author", :quote => quote
        .tags
          - quote.tags.each do |tag|
            =link_to "##{tag.keyword}", quotes_path(:tag => tag.id)
      .clearfix

.clearfix