%h1
  ="Записано"

%table
  - @quotes.each do |quote|
    %tr
      %td.quote
        = quote.text
      -# %td
      -#         = quote.book_id
      -# %td
      -#         = link_to 'Show', quote
      -#       %td
      -#         = link_to 'Edit', edit_quote_path(quote)
      -#       %td
      -#         = link_to 'Destroy', quote, confirm: 'Are you sure?', method: :delete

%br

= link_to 'Записать ещё', new_quote_path, {:class => "submit"}
