.left-content
  -if @tag.present?
    ="##{@tag.keyword}"

  %table
    - @quotes.each do |quote|
      %tr
        %td.quote
          = quote.text
      -unless params[:tag].present?
        %tr
          %td.tags
            - quote.tags.each do |tag|
              =link_to "##{tag.keyword}", quotes_path(:tag => tag.id)
.right-content
  = link_to 'Добавить ещё', new_quote_path, {:id=>"add-quote", :class => "submit"}
.clearfix