%div{:style =>"display:none;"}
  #new_sticker_form
    = form_for(@sticker) do |f|
      #sticker-quote-complete
        =f.text_area :quotes, data: {autocomplete_source: Quote.order(:text).map(&:text)}
        =link_to "Налепить", "#", {:class => "submit centered", :id => "create-sticker"}
