%h1="Доска липучек"

=link_to "Мне повезёт", random_quotes_stickers_path, {:class=> "submit"}

#sticker-board
  - @stickers.each do |sticker|
    .sticker
      =render "sticker", {:sticker => sticker, :color=>"green"}
.clearfix

=link_to 'Приклеить ещё', "#new_sticker_form", {:id => "new-sticker-submit", :class => "submit"}

=render "new_sticker"
