%h1="Доска липучек"

%table
  %tr
    %th="Quote"
    %th
    %th
    %th

  - @stickers.each do |sticker|
    %tr
      %td
        = sticker.quote.text unless sticker.quote.nil?
      %td
        = link_to 'Ещё, ещё', sticker
      %td
        = link_to 'Change it', edit_sticker_path(sticker)
      %td
        = link_to 'В топку', sticker, confirm: 'Are you sure?', method: :delete

#sticker-board
  =link_to 'Приклеить ещё', "#new_sticker_form",{:id=>"new-sticker"}

=render :partial => "sticker"
=render "new_sticker"
