.left-menu
  = link_to user_avatar(user), user, :class => "avatar"
.right-content
  %table
    - @user.quotes.each do |quote| 
      %tr
        %td.quote
          = quote.text
      -unless params[:tag].present?
        %tr
          %td.tags
            - quote.tags.each do |tag|
              =link_to "##{tag.keyword}", quotes_path(:tag => tag.id)