%h1="#{@user.username}'s house"
.left-menu
  .avatar
    =image_tag("/assets/without-av.png")
.right-content
  %table
    - @user.quotes.all(:limit => 8).each do |quote| 
      %tr
        %td.quote
          = quote.text
      -unless params[:tag].present?
        %tr
          %td.tags
            - quote.tags.each do |tag|
              =link_to "##{tag.keyword}", quotes_path(:tag => tag.id)
  .sticker-board
    - @user.quotes.order("RANDOM()").limit(2).each do |quote|
      .sticker
        =render "/stickers/sticker", {:sticker => Sticker.new(:quote => quote), :color=> "pink"}