%h1="#{@user.username}'s house"
.left-menu
  .avatar
    =image_tag("/assets/without-av.png")
.right-content
  .quote-list
    - @user.quotes.all(:limit => 8, :order=>"created_at desc").each do |quote| 
      .text
        = quote.text
      .clearfix
      -unless params[:tag].present?
        .bottom
          =render "/likes/likebar", :quote => quote
        .clearfix
  .sticker-board-small
    - @user.quotes.order("RANDOM()").limit(2).each do |quote|
      .sticker
        =render "/stickers/sticker", {:sticker => Sticker.new(:quote => quote), :color=> "pink"}