%h1="#{@user.username}'s house"
.left-menu
  .avatar
    =image_tag("/assets/without-av.png")
.right-content
  .quote-list
    - @user.quotes.all(:limit => 8, :order=>"created_at desc").each do |quote| 
      .text
        = quote.text
      .clearfix
      -unless params[:tag].present?
        .bottom
          .likes
            =link_to "","#", {:class=>"like-quote"}
          .tags
            - quote.tags.each do |tag|
              =link_to "##{tag.keyword}", quotes_path(:tag => tag.id)
        .clearfix
  .sticker-board-small
    - @user.quotes.order("RANDOM()").limit(2).each do |quote|
      .sticker
        =render "/stickers/sticker", {:sticker => Sticker.new(:quote => quote), :color=> "pink"}