#about
  %p
    = "Это сайтик " 
    = link_to "Лилички", "http://quotemate.heroku.com/users/lili4ka"

  %p
    ="Cюда можно добавлять" 
    =link_to "что угодно", quotes_path
    ="из любого места"
  %p
    ="Вы можете тоже попробовать. Для этого нужно"
    =link_to "записаться", :register
    ="и"
    =link_to "зайти", :login
  =render "/shared/privacy"