#about
  %p
    = "Это сайтик " 
    = link_to "Лилички", "http://vk.com/i00000000002"
    = " и "
    = link_to "Линочки", "http://vk.com/id132044816"
  %p
    ="Они могут добавлять сюда"
    =link_to "что угодно", quotes_path
    ="из любого места."