- if logged_in?
  = render '/shared/user_bar'
- else
  = render '/shared/signin_or_signup_bar'
.top-bar
  =link_to "Что угодно", quotes_path
  =link_to "Источники", books_path
  =link_to "Гадать", random_quotes_stickers_path
  =link_to "Дзен", tags_path
  =link_to "About", "#about", {:class => "fancy-link"}

%div{:style=>"display:none;"}
  =render "shared/about"