.nano
  ="Все, что содержит этот сайтик, можно использовать в целях зарабатывания денег, очистки кармы, пропаганды гомосексуализма и нетолерантности и вообще в любых других целях, хотела бы я посмотреть, как у вас это получится ихихих."