%h1
  ="Откуда это всё"

%table
- @books.each do |book|
  %tr
    %td= link_to book.title, quotes_path(:book => book.id)
    %td= book.author_id
    %td= book.cover_id
    %br

%br
%br
%br
= link_to 'Добавить источник', new_book_path, {:class => "submit"}
