.centered {
  margin-left: auto;
  margin-right: auto;
}

.submit{
  margin-top:10px;
  margin-left:10px;
}

#about > p{
  font-size: 18px;
  font-color: #FF3399;
  margin-top: 20px;
}
.clearfix:before, .clearfix:after {
  content: "&nbsp;"; display: block; height: 0; visibility: hidden; 
} 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }