// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  font-family: Georgia, serif;
  font-size: 30px;
  margin-top:20px;
}

td.quote{
  font-family: Georgia, serif;
  padding-bottom: 20px;
  font-size: 14px;
}
  
