#header{
  width: 1000px;
  margin-left: auto;
  margin-right:auto;
  background-color: #383838;
  color:white;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header a{
  color:white;
  text-decoration: none;
  padding: 10px;
}

#header a:hover{
  background-color: #383838;
  color:#ff22aa;
}

#content-wrapper{
  width: 1000px;
  margin-left: auto;
  margin-right:auto;
}

label, a, p{
  font-family: Georgia, serif;
}