#header{
  width: 1000px;
  margin-left: auto;
  margin-right:auto;
  background-color: #383838;
  color:white;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
}

#header a{
  color:white;
  text-decoration: none;
  padding: 10px;
}

#header a:hover{
  background-color: #383838;
  color:#ff22aa;
}

#content-wrapper{
  width: 1000px;
  margin-left: auto;
  margin-right:auto;
}

label, a, p{
  font-family: Georgia, serif;
}

a.submit, form input[type='submit']{
  display:block;
  -webkit-appearance: caret;
	font-size: 14px;
  font-size: 13px;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  border: 1px solid #8b8989;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: white;
  background: #353232;
  background: -webkit-gradient(linear, left top, left bottom, from(#797373), to(#353232));
  background: -moz-linear-gradient(top,  #797373,  #353232);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#797373', endColorstr='#353232');
  text-decoration: none;
  text-align: middle;
  vertical-align: top;
  width: 100px;
}

a.submit:hover, form input[type='submit']:hover{
   background: #675264;
   background: -webkit-gradient(linear, left top, left bottom, from(#b792b1), to(#675264));
   background: -moz-linear-gradient(top,  #b792b1,  #675264);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b792b1', endColorstr='#675264');
}

a.submit:visited, form input[type='submit']:visited{
  color: white;  
}