// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-content{
  float:left;
}

.right-content{
  float:right;
}

#add-quote{
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom:5px;
  font-size: 16px;
  float:right;
  color:white;
  text-decoration:none;
}

h1.quote{
  font-family: Georgia, serif;
  font-size: 24px;
}

.actions input{
  font-family: Georgia, serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.new_quote
  .field
    label{
       font-family: Georgia, serif;
    }
    
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.quote-list {
  .text{
    font-family: Georgia, serif;
    margin: 0px 0px 5px;
    font-size: 14px;
  }
  .bottom{
    margin: 5px 10px 15px;
    .likes{
      float:left;
      .like-quote{
        background: url("/assets/like.gif") 0 0;
        display:block;
        margin: 5px;
        width: 10px;
        height: 10px;
        opacity: 0.4;
        &:hover { 
          opacity: 1;
        }
      }
    }
    .author{
      float: right;
      font-size: 9px;
    }
    .points{
      float:left;
      font-family: Georgia, serif;
      font-size: 12px;
      margin: 0 5px;
    }
    .tags{
      float: right;
      margin: 0 10px;
      color: grey;
      font-family: palatino;
    }
  }
}
