// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.quote{
  font-family: Georgia, serif;
  font-size: 24px;
}

.actions input{
  font-family: Georgia, serif;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}

.new_quote
  .field
    label{
       font-family: Georgia, serif;
    }
    
ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
td.quote{
  margin-bottom: 0;
  padding-bottom: 0;
}

td.tags{
  float:right;
  margin-bottom: 10px;
  color: grey;
  font-family: palatino;
}

      
