// Place all the styles related to the stickers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sticker-back{
  height: 200px;
  width: 250px;
  border: 1px solid #999;
  background-color: #ffbbea;
  margin: 10px;
  position: relative; 
}

#new_sticker_form{
  width: 500px;
  height: 500px;
}

.color-picker{
  background-image: url('/assets/color.png');
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#sticker-quote-complete{
  margin-left:auto;
  margin-right:auto;
  width: 400px;
}

#sticker-board {

}

.izzyColor{
  background-color: #ffbbea;
  border:0;
}

.sticker {
  float:left;
}

.sticker-back .sticker-color{
  position: absolute; bottom: 0; right: 0;
  padding:5px;
}

.sticker-back .sticker-text{
  font-family: Georgia, serif;
  font-size:15px;
  padding: 15px;
  float:left;
  width: 200px;
}

.sticker-back .trash{
  background-image: url('/assets/icon_trash.png');
  width: 8px;
  height: 8px;
  float: right;
  padding: 5px;
}

.sticker-back .trash a{
  display:block;
  width: 10px;
  height:10px;
}

.green{
  background-color: #40f6ab;
}


