// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.visual{
  background: url(/assets/psycho.jpg) no-repeat center top;
  width: 604px;
  height: 206px;
}

.left-menu{
  float:left;
  width:230px;
  .avatar{
    border: 1px solid #ccc;
  }
}

.right-content{
  float:right;
  width:600px;
}